body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* margin: 0;
    padding: 0; */
  }
  .fixtures {
   
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
  }
  .fixtures h1 {
    text-align: center;
    background: #c21c1c;
    color: #fff;
    margin: 0;
    padding: 15px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  th {
    background-color: #003366;
    color: #fff;
  }
  /* tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  tr:hover {
    background-color: pink;
  }
  .date-day {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .day {
    font-size: 0.85em;
    color: #666;
  }