
body {
    background-image: url("fan2.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }
  
  .auth-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .auth-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .auth-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: linear-gradient(to right, blue, red);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-button:hover {
    opacity: 0.9;
  }
  
  .auth-links {
    margin-top: 10px;
  }
  
  .auth-link {
    color: blue;
    text-decoration: none;
  }
  
  .auth-link:hover {
    text-decoration: underline;
  }
  
  
  
  
  
  .text-danger {
    color: red;
    font-size: 14px;
    font-weight: bold;
  }
  